/* --- GLOBALS --- */

.container-fluid {
    padding: 0;
    margin-right:auto;
    margin-left:auto;
    overflow: hidden;
 }

.row {
	margin: 0;
}

body {
	width: 100%;
	margin: 0;
}

.content {
	padding: 30px 20px;
	height: 500px;
}


/* --- BANNER --- */

.banner-container {
	--border: 1px hidden white;
	padding: 80px;

	height: 70%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

.banner-container-inner {
	text-align: center;
	width: 100%;
	color: #f05454;
	height: auto;
}

 .banner-container-inner h1 {
 	font-size: 8vw;
 	font-family: "Shadows into Light", sans-serif;
 }

 .banner-container-inner h2 {
 	margin-top: 0px;
 	font-family: "Source Sans Pro", sans-serif;
 	font-size: 3.5vw;
 	text-align: center;
 	font-weight: 100;
 }

 .banner-container-inner a {
 	margin-top: 20px;
 	font-size: 1.3em;
 	font-family: "Source Sans Pro", sans-serif;

 }

 .banner-container-inner .btn {
 	display: inline-block;
 	width: 200px;
 	font-weight: bold;
 	padding: 10px;
 	color: #f05454;
 	border: 4px solid #fff;
 	text-align: center;
 	outline: none;
 	text-decoration: none;
 	transition: background-color 0.2s ease-out, color 0.2s ease-out;
 }

 .banner-container-inner .btn:hover,.btn:active {
 	background-color: #fff;
 	color: #000;
 	transition: background-color 0.3s ease-in, color 0.3s ease-in;
 }

 /* -- CONTENT -- */

 content {
 	padding: 0 100px;
 }

/* --- FOOTER --- */

footer {
	color: white;
}

footer a, a:hover {
	text-decoration: none;
	color: white;
}

footer hr {
	background-color: rgb(111, 69, 229);
}

.footer-copyright {
	background-color: rgb(22, 28, 39);
}

.loginform {
	background-color: #30475e;
	border-radius: 5px;
	margin: auto;
	padding: 5px;
}

.loginform form {

}


.loginform #signinlabel {
	width: 100%;
	--text-align: left;
	font-size: 50px;
	color: white;
}


.loginErrorMessage {
	background-color: rgb(250, 50, 50, 100);
	
	margin-bottom: 10px;
	vertical-align: middle;
	padding-top: 10px;
	padding-bottom: 1px;
	color: white;
}

.fplink {
	padding-bottom: 10px;
}

.fplink a {
	color: rgb(245, 245, 245);
}

.fplink a:hover {
	text-decoration: none;
	color: white;
}

.navbar {
	position: relative;
}

@media (min-width: 992px) {
	.navbar-right {
		position: absolute;
		right: 10px;
	}
}

.welcomemessage {
	background-color: white;
	padding-left: 5px;
	line-height: 50px;
	font-weight: 600;
}

.icon-container {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  width: 100%;
  margin-bottom: 15px;
}

.icon {
  padding: 10px;
  background: #f05454;
  color: white;
  min-width: 50px;
  text-align: center;

}

.icon-field {
  width: 100%;
  padding: 15px;
  outline: none;
}

input[type="text"], input[type="email"], input[type="password"], input[type="date"], textarea {
outline: none;
box-shadow: .5px 0px #f05454 !important;
border:1px solid #f05454 !important;
border-radius: 0px 10px 10px 0px;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #f05454 !important;
    outline: none;
    border: none;
}

.btn-primary:hover {
	background-color: #ba5454 !important;
}

.rememberme {

}

.remembermeinput {

}

.remembermelabel {
	color: white;
}

.dropdown-user-menu-item {
	display: inline-block;
}

.dropdown-user-menu-item #avatar{
	width: 32px;
	height: 32px;
	border-radius: 50%;

}

.dropdown-user-menu-item p {
	padding-left: 5px;
	display: inline-block;
}

.dropdown-user .dropdown-menu {
	margin-top: -10px;
}

.noselect {
user-drag: none; 
user-select: none;
-moz-user-select: none;
-webkit-user-drag: none;
-webkit-user-select: none;
-ms-user-select: none;
pointer-events: none;
}