

.profilebanner {
	background-image: url('../images/banner.jpg');
	border: 10px solid white;
		--border: 1px hidden white;
	padding: 80px;

	height: 20em;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;

}

.profileavatar {
	position: absolute;
	border: 15px solid white;
	width: 150px;
	height: 150px;
	border-radius: 50%;
	bottom: -25%;
	--left: 35%;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	--background-color: gray;
	
}

.profileavatar img {
	background-size: cover;
	width: 100%;
	height: 100%;
	border-radius: 50%;

}

.profileavatar img.resize {
    
}

@media (min-width: 992px) {
	.profilebanner {
		border: 15px solid white;
	}

	.profileavatar {
		left: 0;
		right: 0;
		margin-left: auto;
		margin-right: auto;
		width: 200px;
		height: 200px;
		bottom: -35%;
	}
}

.profilecontent {
	border: 1px solid cyan;
}

.profilecontent .container {
	border: 1px solid blue;
	max-width: 80%;
}

.profilecontent .container .row{
	border: 1px solid red;
}

.profilecontent .container .col-md-4 {
	border: 1px solid orange;
	text-align: center;
}

.profilecontent .container .col-md-8 {
	border: 1px solid green;
	text-align: center;
}

.profilecontent .tag {
	font-size: 30px;
	font-weight: 500;
}

.followblock form{
	display: inline-block;
	
}

.followfollowingcount p{
	padding-top:10px;
	display: inline-block;
}

.profile-posts-container {
	width: 100%;
	height: 100%;
}

.profile-posts-container header {
	background-color: white;
}

.profile-editform {
	--border: 1px solid black;
	text-align: center;
	width: 60%;
	margin: auto;
	margin-top: 50px;
}

.profile-editform form {
	display: inline-block;
	margin: 0;
}

.profile-editform form p {
	border: 1px solid black;
	display: inline-block;
	margin-right: 5px;
	height: 100%;
}